{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Como en casa - {% block titulo %} {% endblock titulo %}</title>
    <link href={% static "/css/estilos.css" %} rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ewert&family=Roboto&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="img/IconoFavicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href={% static "img/IconoFavicon/favicon-32x32.png" %} >
    <link rel="icon" type="image/png" sizes="16x16" href={% static "img/IconoFavicon/favicon-16x16.png" %} >
    <link rel="manifest" href="img/site.webmanifest">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %} <script src="script.js"></script> {% endcomment %}
    <script src="https://kit.fontawesome.com/2a437e5022.js" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width"/>
</head>

    <body>
        <!--────────────────navbar menu───────────────-->
        <header>
            <a class="logo" href="{% url 'index-view' %}">
            <img src={% static "/img/comoEnCasa.png" %} alt="fernet logo" />
            </a>
            <nav>	
                <ul class="nav-bar">
                    <li><a class="nav-link" href="{% url 'index-view' %}">Inicio</a></li>
                    <li><a class="nav-link" href="{% url 'menu-view' 'asd' %}">Menú</a></li>
                    <li><a class="nav-link" href="{% url 'sucursales-view' %}">Sucursales</a></li>
                    <li><a class="nav-link" href="{% url 'contacto-view' %}">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <main>            
            {% block contenido_principal %}


            {% endblock contenido_principal %}
        </main>

        <footer class="footer">
            <div class="container">
                <div class="row">
                  <div class="footer-col">
                    <h4>Como en casa</h4>
                    <p>
                    Somos una apasionada empresa de venta de comida que busca llevar a tu hogar la deliciosa experiencia de disfrutar de platos caseros y auténticos sabores, con la comodidad de recibirlos en tu casa.
                    </p>
                  </div>
                  <div class="footer-col">
                    <h4>Como en casa</h4>
                    <ul>
                    <li><a href="{% url 'index-view' %}">Inicio</a></li>
                    <li><a href="{% url 'menu-view' 'asd' %}">Menú</a></li>
                    <li><a href="{% url 'sucursales-view' %}">Sucursales</a></li>
                    <li><a href="{% url 'contacto-view' %}">Contacto</a></li>
                    </ul>
                  </div>
                  <div class="footer-col">
                    <h4>Nuestros platos</h4>
                    <ul>
                      <li><a href="#">Brochetas</a></li>
                      <li><a href="#">Empanadas</a></li>
                      <li><a href="#">Patacones</a></li>
                      <li><a href="#">Pasticho</a></li>
                      <li><a href="#">Otros...</a></li>
                    </ul>
                  </div>
                  <div class="footer-col">
                    <h4>Contactanos</h4>
                    <div class="social-links">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://api.whatsapp.com/send?phone=91127098137"><i class="fab fa-whatsapp"></i></a>
                      <a href="https://www.instagram.com/comoencasa_ar/"><i class="fab fa-instagram"></i></a>
                      <p>Desarrollado por grupo 14</p>
                    </div>
                  </div>
                </div>
                </div>
        </footer>
    </body>  
</html>
