{% extends "base_comoencasa.html" %}
{% block titulo %} Inicio {% endblock titulo %}

{% block contenido_principal %}
{% load static %} 
    <section class="elemento"> 
      <h3 id="h3-formulario">Complete el Formulario</h3> <hr>
      <form action="" name="formulario" method="get">
        <label for="firsname">Nombre:</label> <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre..."><br><br>
        <label for="lastname">Apellido:</label> <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido"><br><br>
        <label for="street">Direccion:</label> <input type="text" name="direccion"  placeholder="Ingrese su dirección..."><br><br>
        <label for="city">Ciudad:</label> <input type="text" name="ciudad"  placeholder="Ingrese su ciudad" value="CABA"><br><br>
        <label for="zipcode">Codigo Postal:</label> <input type="text" name="zipcode" placeholder="Ingrese su codigo postal..."><br><br>
        <label for="birthdate">Nacimiento:</label> <input type="date" name="nacimiento"  placeholder=""><br><br>
        <label for="email"> Mail:</label> <input type="email" name="email"  placeholder="minombre@gmail.com..."><br><br>
        <input type="submit" value="Enviar" id="submit">
      </form>
    </section>
    <script src= {% static "js/validaciones.js" %} ></script>
{% endcomment %}
{% endblock contenido_principal %}