{% extends "base_comoencasa.html" %}
{% block contenido_principal %}
    <h2>Nuestros platos</h2>
    {% if mensaje %}
    <div class="alert alert-info" style="display: flex; justify-content: center; align-items: center; margin: auto;">
        {{ mensaje }}
    </div>
    {% endif %}
        <div id="menu">    
                {% for producto in productos %}
                <div class="plato">
                    <li>
                        <h2>{{ producto.nombreProducto }}</h2> 
                        <img src= {{ producto.imagenProducto.url }} />
                        <p> {{ producto.descripcion }} </p>
                    </li>
                </div>
                {% endfor %}
                
            </div>
{% endblock %}
