{% extends "base_comoencasa.html" %}
{% block contenido_principal %}
    <h1>Productos Disponibles</h1>
    <ul>
        {% for producto in productos %}
            <li>
                {{ producto.nombreProducto }} - ${{ producto.precioUnitario }}
                <form method="post" action="{% url 'ver_productos' %}">
                    {% csrf_token %}
                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                    <button type="submit">Agregar al carrito</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
