{% extends "base_comoencasa.html" %}
{% block titulo %} Contacto {% endblock titulo %}

{% block contenido_principal %}
{% load static %} 
    <section class="elemento"> 
      <h3 id="h3-formulario">Complete el Formulario</h3> <hr>
        <form action="POST" method="post">
          {% csrf_token %}
          {{ contacto_form }}
          <button type="submit">Enviar</button>
      </form>

    </section>
    {% comment %} """<script src= {% static "js/validaciones.js" %} ></script>""" {% endcomment %}
{% endblock contenido_principal %}